.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.githubButton {
  display: block;
  width: 70px;
  margin-left: auto;
}

.githubButton > img {
  max-width: 100%;
  margin: 0;
}